@import url(/header.css);
@import url(/footer.css);
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  display: grid;
  grid-template-areas:
    "hr hr hr hr hr hr"
    "na na na na na na"
    "as as sec sec art art"
    "ft ft ft ft ft ft";
}
nav { 
  grid-area: na;
  background-color: #cee8ff;
}

aside {
  grid-area: as;
  background-color: #e8ffce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article {
    grid-template-columns: max-content;
  grid-area: art;
  background-color: #bc82ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  grid-area: sec;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding: 10px;
  font-size: 24px;
}
h1 {
  padding: 10px;
  font-size: 32px;
}
.profile {
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}
.second-image {
  padding: 10px;
  width: 300px;
  display: flex;
  justify-self: center;
}
.container3 {
  width: 50%;
}
.second-image-paraghraph {
  display: flex;
  justify-self: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
section > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  height: 70px;
  margin: px;
  padding: 15px;
  width: 95%;
}
section > div > div {
    text-align: center;
  color: white;
  max-width: 170px;
  background-color: green;
  max-height: 60px;
  display: inline-block;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}
.myaccount{
    color: white;
    text-decoration: none;
}